{% block content %}
<div class="row">
    <div><input type="hidden" id="postId" name="postId" value="{{ project | safe }}" />
        <input type="hidden" id="nameId" name="nametId" value="{{ name | safe }}" /></div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Deuda Técnica Chart
            </div>
            <div class="card-body"><canvas id="deudaBarChart" width="100%" height="50"></canvas></div>
            <div class="card-footer small text-muted">Actualizado {{ date.strftime("%A, %d %B, %Y at %X") }}</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Duplicated Line of Code Chart
            </div>
            <div class="card-body"><canvas id="dlocBarChart" width="100%" height="50"></canvas></div>
            <div class="card-footer small text-muted">Actualizado {{ date.strftime("%A, %d %B, %Y at %X") }}</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Coverage Chart
            </div>
            <div class="card-body"><canvas id="coverageBarChart" width="100%" height="50"></canvas></div>
            <div class="card-footer small text-muted">Actualizado {{ date.strftime("%A, %d %B, %Y at %X") }}</div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='assets/demo/chart-bar-deuda.js')}}"></script>
    <script src="{{url_for('static',filename='assets/demo/chart-bar-dloc.js')}}"></script>
    <script src="{{url_for('static',filename='assets/demo/chart-bar-coverage.js')}}"></script>
{% endblock %}